.PasswordForm {
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.PasswordForm__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
